*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}
body{
    background-color: #130F21;
    padding: 20px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0px 0px 50px 0px;
}
.main img{
    width: 450px;
}
.btnContain{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn{
    padding: 15px 50px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #3869EB;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 700;
}
.btn2{
    padding: 15px 50px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #130F21;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
}
p{
    color: #F7B854;
}
h3{
    color: #FED52C;
}
.rows{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}
.rows img{ cursor: pointer; }
.logo{
    width: 320px;
}
.middle{
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    justify-content: center;
}
.options{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.options img{
    width: 60px;
}
.questContain{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.quest{
    background-color: #130F21;
    border: 1px solid #6A93A6;
    padding: 20px 30px;
    border-radius: 30px;
    font-size: 18px;
    max-width: 750px;
    width: 100%;
}
.answerContain{
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.ans{
    background-color: #130F21;
    border: 1px solid #6A93A6;
    padding: 8px 20px;
    border-radius: 30px;
    font-size: 18px;
    width: 380px;
    cursor: pointer;
}
.ans:hover{
    background-color: #ffab24;
    color: #fff;
}
.ans.active1{
    background-color: #ffab24;
    color: #fff;
}
.ans p{
    font-size: 15px;
    color: #fff;
}
.ans span{
    color: #ffab24;
    font-weight: 600;
}
.quest p{
    color: white;
    text-align: center;
}
.active{
    background-color: #FD962D;
    color: #fff;
    padding: 8px 20px;
    border-radius: 30px;
}
.middle2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.middle2 p{
    font-size: 13px;
}
.ruleBody{
    padding: 50px 100px 20px 100px;
    color: #fff;
}
.ruleBody p{
    color: #fff;
    padding: 20px 0 0 0;
}
.rule{
    padding: 10px 0 40px 0;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
footer p{
    font-size: 12px;
}